<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
{%load static%}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Document</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/movie.css"%}">
</head>
<body>
<div class="container" align="center">
    <div class="jumbotron">
          <h1>Kurnool Movies Information</h1>
          <p>up to date kurnool movies information.........</p>
          <a class="btn btn-primary btn-lg" href="/addmovie" role="button">Add Movie</a>
          <a class="btn btn-primary btn-lg" href="/listmovie" role="button">List Movie</a>
    </div>
</div>
</body>
</html>